<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:spacer {"height":"90px"} -->
<div style="height:90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","bottom":"80px","left":"24px","right":"24px"}}}} -->
<div class="wp-block-group alignwide" style="padding-top:40px;padding-right:24px;padding-bottom:80px;padding-left:24px"><!-- wp:post-title {"level":1,"className":"text-4xl font-heading font-bold mb-6"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
